<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>xlsx-to-seats</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <h2>
    <a href="/">xlsx-to-seats</a>
  </h2>
  <p>Error occurred!</p>
  <pre style="word-break: break-word;">
${data.err}
</pre>
</body>
</html>
